@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MyTidy Coding Test</h1>
    <a asp-area="admin" asp-controller="Prodotti" asp-action="Index" class="btn btn-primary mt-5">See Prodotti</a>
</div>
